/* Style headers */
h1, h2, h3 {
    text-align: center; /* Center headers horizontally */
    margin-top: 20px; /* Add space above headers */
    margin-bottom: 20px; /* Add space below headers */
    font-family: Calibri, sans-serif; /* Set the font-family to Calibri and provide a fallback font if Calibri is not available */
}

a{
    font-family: Calibri, sans-serif;
}

/* Style paragraphs */
p, li, ol{
    text-align-last: center;
    text-justify: inter-word; 
    margin-bottom: 20px;
    font-family: Calibri, sans-serif; /* Set the font-family to Calibri and provide a fallback font if Calibri is not available */
    font-size: 18px; /* Specify the font size (you were missing "px" in your original code) */
    padding: 0 30px;
    
}

* {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
  }
/* CSS for the site title */
.site-title {
    font-size: 24px;
    margin-right: 20px; /* Add space between the title and the menu */
    color: #fff; /* Text color for the title */
}

/* Default light mode styles */
:root {
    --bg-color: #f2f2f2; /* Light background color */
    --text-color: #333; /* Dark text color */
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #333; /* Dark background color */
        --text-color: #f2f2f2; /* Light text color */
    }
}

/* Reset some default margin and padding */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--bg-color-dark); /* Dark mode background color */
        color: var(--text-color-dark); /* Dark mode text color */
    }
}




/* Middle Section Styles */
.content {
    background-color: #f2f2f2; /* Light gray background color */
    padding: 20px;
    text-align: center;
    flex-grow: 1;
}



/* Style the image container */
.image-container {
    position: relative;
}

/* Style the image */
.image-container img {
    width: 100%;
    height: auto;
}

/* Style the text overlay */
.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Style the text elements within the overlay */
.text-overlay h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.text-overlay p {
    font-size: 18px;
}
